<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name="com.naturlecso.mtgbooster.MtgBoosterApplication">
        <activity
            android:name="com.naturlecso.mtgbooster.MainActivity"
            android:theme="@style/android:Theme.Material.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>